.chat-bubble__wrapper {
    display: flex;
    margin: 2px;
    
}
.chat-bubble--left {
    align-self: flex-start;
    align-items: flex-end;
}
.chat-bubble--right {
    justify-content: flex-end;
}
.chat-bubble__content {
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    font-size: 15px;
    margin: 0 5px;
}
.chat-bubble--left .chat-bubble__content {
    display: flex;
    background-color: #ddd;
}
.chat-bubble--right .chat-bubble__content {
    display: flex;
    background-color: #0a4ff2;
    color: white;
}
.chat-bubble__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 700px) {
    .chat-bubble__content {
        padding: 8px 10px;
        font-size: 14px;
    }
}